body{
    
    margin: 0;
    
}

.header {
    background-color: rgb(255, 255, 255);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img {
    height: 150px;
    width: auto;
    
    
}

.header_links{
    font-size: 24px;
    display: flex;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding-right: 200px;
}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    
}
.hover-underline {
    display: inline-block;
    position: relative;
    
  }
  
  .hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: rgb(41,122,122);
    background: linear-gradient(84deg, rgba(41,122,122,1) 13%, rgba(240,55,55,1) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }
.logo {
    margin: 0;
    padding-left: 100px;
}

.logo img {
    height: 100px;
    width: auto;
}

.text_logo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.header_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(85,160,161);
    background: linear-gradient(0deg, rgba(85,160,161,1) 0%, rgba(9,58,65,1) 100%);
    
  
}
h1 {
    font-size: 48px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;

}
.box_left {
    margin: 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 700px;
    height: 300px;
    font-size: 18px;
    color: white;
    
}
button {
    padding: 5px 10px;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 8px;
    background-color: whitesmoke;
    flex-shrink: 0;
    display: flex;
    border: none;
    box-shadow: rgba(9,58,65,1) 4px 4px 0;
    transition: 100ms;

    
}
button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0px 0px 0px;
}

.header_box img {
height: 300px;
width: auto;
padding: 50px 100px 50px 0;

}

.container {
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    

}

.container img {
    width: 350px;
    height: auto;
    border-radius: 50%;
    
    padding-bottom: 10px;
    
}

.info {
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
    
}


.crew {
    display:inline-flex ;
    text-align: center;
    font-size: 40px;
    height: 50px;
    
}

.crew {
    display: flex;
    font-size: 40px;
    justify-content: center;
    background-color: white;
    padding-top: 50px;
    margin-top: 50px;
    border-bottom: solid 1px grey;
    
    
}

.container2 {
    display: flex;
    flex-direction: column;
    background: rgb(9,58,65);
    background: linear-gradient(0deg, rgba(9,58,65,1) 0%, rgba(85,160,161,1) 100%);
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.text2 {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: rgb(255, 255, 255);
    
}

.text3 {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-items: flex-end;
    margin-top: 20px;
    margin-left: 500px;
}

.container3 {
    display: flex;
    justify-content: center;


}
.window {
    display: flex;
    margin: 100px 0;
    background-color: rgba(9,58,65,1);
    color: white;
    align-items: center;
    padding: 10px 80px;
    border-radius: 8px;
    font-size: 20px;
}

 .press button{
    margin:0 0 0 50px;
    border-radius: 8px;
    flex-shrink: 0;
    background-color: whitesmoke ;
    box-shadow:rgba(85,160,161,1) 4px 4px 0;

 }  
 
 .press button:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: rgba(85,160,161,1) 0px 0px 0px;
 }
 .down {
    background-color: rgba(85, 160, 161, 0.473);
    padding: 20px 0 20px 0;
    color: rgb(88, 88, 88);
 }

footer {
    text-align: center;
}




/*stare
.container3 .window {
    margin-top: 100px;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    
    background-color: rgba(9,58,65,1);
    color: white;
    font-size: 22px;
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.container button {
    display: flex;
    align-items: center;

}*/